extends layout

block content

  script.
    window.AMFLINEUP = !{JSON.stringify(lineup)}

  #header
    != str.lang_link
    .splash

  #lineup
    .bands
      .row
        a(href="/gonjasufi") Gonjasufi
        a(href="/bleached") Bleached
        a(href="/pointloma") Point Loma (Bostich)
      .row
        a(href="/lasrobertas") Las Robertas
        a(href="/fuetebillete") Fuete Billete
        a(href="/lumerians") Lumerians
      .row
        a(href="/soniderotravesura") Sonidero Travesura
      .row
        a(href="/clubz") Clubz
        a(href="/santos") Santos
        a(href="/latenitehowl") Late Nite Howl
      .row
        a(href="/gmrm") Ghost Magnet Roach Motel
      .row
        a(href="/dpi") D/P/I
        a(href="/warmplaces") Warm Places
        a(href="/batwingsvsskrapez") Batwings vs Skrapez
      .row
        a(href="/illuminauts") Illuminauts
        a(href="/systemerror") System Error
        a(href="/elvelar") Bruno Darío/El Velar
      .row
        a(href="/cesarcoronado") César Coronado
        a(href="/ladrones") L.A. Drones
        a(href="/taxidee") Taxi Dee
      .row
        a(href="/hexorcismos") Hexorcismos
        a(href="/czar") Czar
        a(href="/tolo") Tolo
        a(href="/schuy") S Chuy
    .other
      .row!= str.cocinacentral
      .row!= str.musicmakers

  #detail-container(style="display:none")
    block detail
      #detail
    .bg
    .bg


  #info
    h1.when!= str.when
    .where
      .places
        h1 Festival Site
        .site.festival-site
          h3 Castillos del Mar
          p.
            Carretera Libre Tijuana – Ensenada km 29.5<br>
            22710 Rosarito, Baja California, Mexico
          .gallery
            a(href="/media/venue/venue1.jpg"): img(src="/media/venue/venue1sml.jpg")
            a(href="/media/venue/venue2.jpg"): img(src="/media/venue/venue2sml.jpg")
            a(href="/media/venue/venue3.jpg"): img(src="/media/venue/venue3sml.jpg")
            a(href="/media/venue/venue4.jpg"): img(src="/media/venue/venue4sml.jpg")
            a(href="/media/venue/venue5.jpg"): img(src="/media/venue/venue5sml.jpg")
            a(href="/media/venue/venue6.jpg"): img(src="/media/venue/venue6sml.jpg")
        .tickets
          h1 Tickets
          != str.tickets
        .site!= str.blackbox
        .site!= str.dientedeleon
        .site!= str.moustache

    h1!= str.wheretosleep
    .info-box!= str.hotelcoronaplaza
    .info-box!= str.hotelcastillosdelmar
    .info-box!= str.gettingthere
    .info-box!= str.infomore

  #with
    h2= str.sponsoredby
    a(href="http://www.indio.com.mx", target="_blank"): img(src="/img/with/indio.png")

    h2= str.initiativeof
    a(href="http://2014.festivalnrmal.net", target="_blank"): img(src="/img/with/nrmal.png")

    h2= str.supportof
    a(href="http://www.aecontrol.com.mx/", target="_blank"): img(src="/img/with/aecontrol.png")
    a(href="http://www.artealameda.bellasartes.gob.mx/", target="_blank"): img(src="/img/with/artealameda.png")
    a(href="http://www.tijuana.gob.mx/index.aspx", target="_blank"): img(src="/img/with/ayuntamientotijuana.png")
    a(href="http://www.culinaryartschool.edu.mx/", target="_blank"): img(src="/img/with/culinary.png")
    a(href="http://www.bccreativa.com/", target="_blank"): img(src="/img/with/bccreativa.png")


    h2= str.friendsof
    a(href="http://www.despachodeproyectos.mx/", target="_blank"): img(src="/img/with/despachodeproyectos.png")
    a(href="http://tjinchina.dinstudio.com", target="_blank"): img(src="/img/with/tjinchina.png")
    a(href="http://www.turistalibre.com", target="_blank"): img(src="/img/with/turistalibre.png")
    a(href="http://vivamusicfestival.com", target="_blank"): img(src="/img/with/vivapomona.png")

    h2= str.associatedmedia
    a(href="http://www.indierocks.mx/", target="_blank"): img(src="/img/with/indierocks.png")
    a(href="http://www.lifeboxset.com/", target="_blank"): img(src="/img/with/lifeboxset.png")
    a(href="http://www.marvin.com.mx/", target="_blank"): img(src="/img/with/marvin.png")
    a(href="http://www.mehaceruido.com/", target="_blank"): img(src="/img/with/mehaceruido.png")
    a(href="http://noiselab.com/", target="_blank"): img(src="/img/with/noiselab.png")
    a(href="http://noisey.vice.com/es_mx/", target="_blank"): img(src="/img/with/noisey.png")
    a(href="http://remezcla.com", target="_blank"): img(src="/img/with/remezcla.png")
    a(href="http://www.vice.com/es_mx/", target="_blank"): img(src="/img/with/vice.png")
    a(href="http://invasionlocal.com/", target="_blank"): img(src="/img/with/invasionlocal.png")
    a(href="http://www.tijuanaconcerts.com", target="_blank"): img(src="/img/with/tjconcerts.png")
    a(href="http://oneheapwonder.com/", target="_blank"): img(src="/img/with/oneheapwonder.png")
    a(href="http://ohmytj.mx", target="_blank"): img(src="/img/with/ohmytj.png")
    a(href="http://www.uabcradio.mx/17segundos", target="_blank"): img(src="/img/with/17segundos.png")
    a(href="http://www.apolorama.com/", target="_blank"): img(src="/img/with/apolorama.png")
    a(href="http://filtermexico.com/", target="_blank"): img(src="/img/with/filter.png")
    a(href="http://b1mas4.com/", target="_blank"): img(src="/img/with/binomio.png")
    a(href="http://www.cuatrocomunicacion.info/", target="_blank"): img(src="/img/with/cuatro.png")


  footer
    p
      a(href="https://www.facebook.com/allmyfriendsmf", target="_blank") Facebook
      a(href="https://www.twitter.com/infoamf", target="_blank") @infoamf



prepend scripts
  script(src="//cdn.embed.ly/jquery.embedly-3.1.1.min.js")
