extends layout

block content

  script.
    window.AMFLINEUP = !{JSON.stringify(lineup)}

  #header
    != str.lang_link
    .splash

  #lineup
    .bands
      .row
        a(href="/gonjasufi") Gonjasufi
        a(href="/bleached") Bleached
        a(href="/pointloma") Point Loma (Bostich)
      .row
        a(href="/lasrobertas") Las Robertas
        a(href="/fuetebillete") Fuete Billete
        a(href="/lumerians") Lumerians
      .row
        a(href="/clubz") Clubz
        a(href="/santos") Santos
        a(href="/latenitehowl") Late Nite Howl
      .row
        a(href="/gmrm") Ghost Magnet Roach Motel
      .row
        a(href="/warmplaces") Warm Places
        a(href="/batwingsvsskrapez") Batwings vs Skrapez
      .row
        a(href="/systemerror") System Error
        a(href="/elvelar") Bruno Darío/El Velar
      .row
        a(href="/cesarcoronado") César Coronado
        a(href="/ladrones") L.A. Drones
      .row
        a(href="/czar") Czar
        a(href="/tolo") Tolo
        a(href="/schuy") S Chuy
    .other
      .row!= str.cocinacentral
      .row!= str.musicmakers

  #detail-container(style="display:none")
    block detail
      #detail
    .bg
    .bg


  #info
    h1.when!= str.when
    .where
      .places
        h1 Festival Site
        .site.festival-site
          h3 Castillos del Mar
          p.
            Carretera Libre Tijuana – Ensenada km 29.5<br>
            22710 Rosarito, Baja California Sur, Mexico
        .tickets
          h1 Tickets
          != tickets
        .site!= str.blackbox
        .site!= str.dientedeleon
        .site!= str.moustache

    h1!= str.wheretosleep
    .info-box!= str.hotelcoronaplaza
    .info-box!= str.hotelcastillosdelmar
    .info-box!= str.gettingthere
    .info-box!= str.infomore


  footer
    .indio
    p
      a(href="https://www.facebook.com/allmyfriendsmf") Facebook
      a(href="https://www.twitter.com/infoamf") @infoamf



prepend scripts
  script(src="http://a.vimeocdn.com/js/froogaloop2.min.js")
